@import "sanitize"
@import "helpers"

// GRID OF 12 90px COLUMNS WITH 16px GUTTER
$cols = 12
$col = 90px
$gutter = 16px
.container
  margin: 0 auto
  width: ($col * $cols)+($gutter * $cols)
.row
  clear: both
.col
  float: left
  margin-left: ($gutter/2)
  margin-right: ($gutter/2)
  box-sizing: content-box
for col in 1..$cols
  .col{col}
    width: ( col * $col ) + ( ( col - 1 ) * $gutter )

// FLUID COLS
.percent-col
  float: left
  box-sizing: content-box
$pcols = 10
for pcol in 1..$pcols
  .into-{pcol}
    width: ( 100% / pcol )

// VARIABLES

$margin-small = ($gutter)
$margin-tiny = ($gutter / 2)
$margin-basic = ($gutter * 2)
$margin-large = ($gutter * 5)

$font-size-basic = 20px
$font-leading-basic = 1.4
$font-tracking-basic = 0.001em

$color-black-soft = rgb(14, 14, 14)
$color-white-soft = rgb(253, 253, 253)

$animation-time = 300ms
// TYPOGRAPHY

body
  font-family: serif
  font-size: $font-size-basic
  line-height: $font-leading-basic
  letter-spacing: $font-tracking-basic
  background-color: white

body.invert
  filter: invert(100%);

h1
  font-size: 3em

h2
  font-size: 2em

h3
  font-size: 1.5em

p
  margin-bottom: 1em


// LINKS

a, a:active, a:visited
  color:inherit
  &:hover
    color: #F5202B


// BASIC

html
  background-color: $color-white-soft
  color: $color-black-soft

img
  max-width: 100%
  height: auto


//the 100% widths are just so stylus can compile delete as desired

// HEADER

#header
  width: 100%
  font-size: 2em
  min-height: 100vh
  box-sizing: border-box
  padding: 15px

// POSTS LOOP
#posts
  min-height: 100vh
  width: 100%
  box-sizing: border-box

.post
  width: 100%

#pagination
  width: 100%

#logo
  float: left
  width: 300px

nav a
  display: inline-block
  border-bottom: 2px solid

// FOOTER

#footer
  width: 100%

// POSTS
#title-fixed,
#title
  font-weight: bold
  transition: none

#title-fixed
  display: none
  position: fixed
  top: 15px
  left: 15px

#posts article
  padding: 15px

article.fixed-title
  #title
    opacity: 0

  #title-fixed
    display: block

article img
  max-height: 100vh
  max-width: 80vw
  padding: 5vh 5vw
  margin: 5vh auto
  display: block

article ul
  padding-left: 2em
  margin-bottom: 1em

.u-video-embed-container
  max-width: 80vw
  padding-bottom: 45%
  margin: 0 auto


// GALLERY
/*
.gallery div
  display: flex
  width: 100%
  height: 100vh
  align-items: center
  justify-content: center

article img
  width: auto
  height: auto
  max-height: 80vh
  max-width: 100%
  */


// MEDIA QUERIES

@media screen and (max-width: 500px)
  #header
    font-size: 1.4em
  #logo 
    width: 20%
  article img
    padding: 5vh 0

@media screen and (max-width: ($col * $cols)+($gutter * $cols))
  html
    width: 100%
